* {
    margin: 0;
    padding: 0;
}

.box1 {
    position: relative;
    padding-bottom: 100%;
}

.Calendar {
    position: absolute;
    top: 26%;
    left: 16%;
    width: 75%;
    height: 75%;
    max-width: 400px;
}


